.head {
    background-color: #1A7BA3;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 4px #000000;
}
.head .brandname {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
    white-space: nowrap;
}
.head .head-adress,
.head .head-phones {
    text-align: right;
    font-size: 16px;
    /*white-space: nowrap;*/
    /*border-left: 2px solid #d9d9d9;*/
}
i {
    margin-right: 7px;
}
@media screen and (max-width: 768px) {
    .head,
    .head .head-adress,
    .head .head-phones {
        text-align: center;
    }
    .head .head-brand .second-text {
        padding-bottom: 10px;
        border-bottom: 2px solid #d9d9d9;
    }
}
.jumbotron {
    background: url("img/jumbo1.jpg") no-repeat;
    background-size: cover;
    color: #ffffff !important;
    margin-bottom: -30px !important;
}
.services1 {
    padding-bottom: 40px;
    background-color: #1A7BA3;
    color: #ffffff;
}
.services1 h2 {
    text-align: center;
    margin-bottom: 20px;
}
.services1 .buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}
.services1 .buttons a {
    float:none;
    display: inline-block;
    text-decoration: none;
    width: 33%;
    margin: 5px auto;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 5px 10px;
    text-align: center;
    position: relative;
}
.services1 .buttons a li {
    display: inline-block;
    font-size: 18px;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}
.services1 .buttons a i {
    display: inline-block;
    font-size: 60px;
    vertical-align: middle;
    padding-left: 78%;
}
.services1 .buttons a:hover {
    background-color: #343434;
    color: #ffffff;
    border: 2px solid #ffffff;
}
@media screen and (max-width: 768px) {
    .services1 .buttons a {
        width: 100%;
    }
    .services1 .buttons a li{
        font-size: 16px;
    }
    .services1 .buttons a i {
        font-size: 50px;
    }
}
@media screen and (max-width: 992px) and (min-width: 769px) {
    .services1 .buttons a {
        width: 48%;
    }
}
.services2 {
    background: url("img/about.jpg") no-repeat;
    background-size: cover;
    color: #ffffff !important;
    padding-top: 20px;
    padding-bottom: 40px;
}
.services2 h2 {
    margin-bottom: 20px;
}
.services2 p {
    font-size: 18px;
}
.prices {
    background-color: #d9d9d9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.prices h2{
    text-align: center;
    margin-bottom: 20px;
}
.prices .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
.prices .nav-pills {
    text-align:center;
    margin-bottom: 20px;
}
.prices td:nth-child(2) {
    text-align: right;
}
.prices p {
    text-align: right;
    font-style: italic;
    font-weight: bold;
}
.contacts {
    background-color: #1A7BA3;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
}
.contacts h2 {
    text-align: center;
    margin-bottom: 20px;
}