.head {
    background-color: #1A7BA3;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 4px #000000;
}
.head .brandname {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
    white-space: nowrap;
}
.head .head-adress,
.head .head-phones {
    text-align: right;
    font-size: 16px;
    /*white-space: nowrap;*/
    /*border-left: 2px solid #d9d9d9;*/
}
i {
    margin-right: 7px;
}
@media screen and (max-width: 768px) {
    .head,
    .head .head-adress,
    .head .head-phones {
        text-align: center;
    }
    .head .head-brand .second-text {
        padding-bottom: 10px;
        border-bottom: 2px solid #d9d9d9;
    }
}
.jumbotron {
    background: url("img/jumbo1.jpg") no-repeat;
    background-size: cover;
    color: #ffffff !important;
    margin-bottom: -30px !important;
}
.services1 {
    padding-bottom: 40px;
    background-color: #1A7BA3;
    color: #ffffff;
}
.services1 .container {
    margin: 0 auto;
    text-align: center;
}
.services1 .img-box {
    background-color: #d9d9d9;
    /*padding: 10px;*/
    border: 10px solid #1A7BA3;
    color: #000000;
    text-align: center;
    position: relative;
    cursor: pointer;
    max-width: 32%;
    display: inline-block;
}
.services1 img {
    max-width: 50%;
}
.services1 .hover-text {
    position: absolute;
    color: #ffffff;
    background-color: rgba(26, 123, 163, 0.7);
    width: 95%;
    height: 95%;
    padding: 5% 10%;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    display: none;
}
.services1 .hover-text h3 {
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    padding: 10% 0;
}
.services1 .img-box:hover .hover-text {
    display: block;
}
@media screen and (max-width: 768px) {
    .services1 .img-box {
        max-width: 48%;
    }
    .services1 .hover-text h3 {
        font-size: 85%;
    }
}
.services2 {
    background: url("img/about.jpg") no-repeat;
    background-size: cover;
    color: #ffffff !important;
    padding-top: 20px;
    padding-bottom: 40px;
}
.services2 h2 {
    margin-bottom: 20px;
}
.services2 p {
    font-size: 18px;
}
.contacts {
    background-color: #1A7BA3;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
}
.contacts h2 {
    text-align: center;
    margin-bottom: 20px;
}